*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font{
    padding: 10px 0px;
}
header{
    width: 100%;
}
a{
    text-decoration: none;
}
.header-text{
    background-color: black;
    color: white;
    display: flex;
    line-height: 35px;
    padding-top: 10px;

}
.header-text h4{
    padding-left: 280px;
}
.header-text p {
    padding-left: 20px;
   padding-right: 20px;
   font-style: italic;
   font-size: 20px;
}
.header-text span{
    background-color: white;
    color: black;
    
    border-radius: 10px;
    padding: 3px;
    font-weight: bold;
}
.header-text h2{
    padding-right: 10px;
    font-size: 20px;
}
.header-text h2{
    font-size: 30px;
}
.header-text li{
    list-style-type: none;
    text-decoration: underline;
    padding-top: 5px;
}
.shopnow{
    color: white;
    list-style-type: none;
}
.shopnow:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.h3{
    padding-left: 40px;
}
.col img{
    width: 70%;
    height: 80%;
    margin-right: 400px;
}

.button:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.navbar-brand1:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.navbar-brand{
    text-decoration: underline;
    color: black;
    font-size: 30px;
    padding: 0px 20px;
}
.navbar-brand1{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 45px;
}
.d-flex{
    padding-left: 100px;
}
.icons{
    color: black;
}
.form-control{
    padding-left: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
}
.search{
    font-size: 40px;
    padding: 40px 0px;
}

.container-search {
    position: relative;
}
.container-search i {
    position: absolute;
    top: 38%;
    left: 10px;
    font-size: 20px;
}
.container-icons i {
    color: black;
}
.container-icons i:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.btn-sm-square{
    padding: 0px 25px;
    margin-top: 55px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.foryou li{
    list-style-type: none;
    display: inline-block;
}
#foryouu{
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 10px 20px;
}
.foryou li a {
    padding: 10px 50px;
    font-size: 20px;
    color: black;
    border: 0.5px solid black;
    border-radius: 25px;
}
.foryou i {
    color: red;
    font-size: 30px;
}
.foryou ul li {
    padding: 0px 20px;
}

.container-body{
    background-color: black;
    font-size: 30px;
    padding: 20px 0px;
}

.nav-link{
    color: white;
    font-weight: bold;
    padding: 0px 50px;
}
.banner img {
    width: 100%;
    margin-top: 20px;
}




.card-body{
    display: flex;
    align-items: center;
}


.container-robot{
    padding: 40px 400px;
}

.col-12 i{
    font-size: 30px;
}




.button-keo{
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    justify-self: center;
    padding-bottom: 30px;
    
}
span{
    background-color: gray;
}

.banner-logo{
    width: 100%;
}
.banner-logo img{
    padding-left: 75px;
    height: 290px;
}


.slide-button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 140px;
    font-size: 16px;
    color: #333;
    transition: transform 0.3s ease;
    background-color: gray;
    color: white;
    border-radius: 20px;
  }
  
  .slide-button:hover {
    transform: translateX(10px);
  }



.arrow-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transition: transform 0.3s ease;
  }
  
  .slide-button:hover .arrow-right {
    transform: translateX(5px) translateY(-50%) rotate(45deg);
  }







.container-footer{
    background-color: gray;
    margin-top: 30px;
    padding: 0px 30px;
    font-weight: bold;
}
.container-footer{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}
.container-footer2{
    background-color: #373535;
    color: white;
    font-weight: bold;
}
.container-footer2 h3{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    padding-left: 10px;
}


.texttt{
    text-align: start;
    display: flex;
    padding: 0px 50px;
  
}
.texttt h4{
    padding: 0px 20px;
    font-weight: bold;
}
.main{
    color: black;
}
.click{
    color: black;
}
.click:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.click1:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.color{
    color: rgb(83, 83, 83);
    font-weight: none;
}
.color:hover{
    color: rgb(0, 180, 0);
}
.container-footer2 i {
    color: white;
    font-size: 50px;   
    justify-content: center; 
    align-items: center;
}
.container-footer2 a{
    padding-right: 30px;
}
.container-footer2 i:hover{
    color: rgb(76, 0, 255);
}