
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #222344;
}
.nav_menu{
  width: 450px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 10px
}
.nav_menu ul{
  width: 400px;
  display: flex;
  position: relative;
}
.nav_menu ul li{
  list-style: none;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 1;
}
.nav_menu ul li a{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  text-decoration: none;
}
.nav_menu ul li a i.icon{
  position: relative;
  display: block;
  font-size: 1.5em;
  line-height: 60px;
  transition: 0.5s;
  color: rgba(0, 255, 26, 0.5);

}
.nav_menu ul li.active a i.icon{
  transform: rotateY(-8px);
  color: #29fd53;
}
.nav_menu ul li a.text{
  position: absolute;
  font-weight: 400;
  font-size: 0.6em;
  color: #333;
  transform: 0.5s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translateY(22px);
}
.nav_menu ul li.active a.text{
  opacity: 1;
  color: #222344;
}
.idicator{
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.idicator::before{
  content: "";
  position: absolute;
  width: 80%;
  height: 15px;
  bottom: 20px;
  background-color: #29fd53;
  border-radius: 10px;
}
.idicator::after{
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: -3px;
  background-color: #29fd53;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #29fd53, 45px 50px #29fd53, 0 50px #29fd53, 50PX 0 #29fd53 ;
  transform: rotate(45deg);
  animation: animate 2s ease-in-out infinite;
}
@keyframes animate{
  0%, 100%{
      transform: rotate(35deg);
  }
  55%{
      transform: rotate(55deg);
  }
}
.nav_menu ul li:nth-child(2).active ~ .idicator
{
  transform: translateX(calc(80px*1));
}

.nav_menu ul li:nth-child(3).active ~ .idicator
{
  transform: translateX(calc(80px*2));
}

.nav_menu ul li:nth-child(4).active ~ .idicator
{
  transform: translateX(calc(80px*3));
}

.nav_menu ul li:nth-child(5).active ~ .idicator
{
  transform: translateX(calc(80px*4));
}