*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
/* chia cột */
[class*="col-"] {
    float: left;
}
/* thêm một class gia vào phía sau class row */
.row::after {
    content: "";
    clear: both;
    display: table;
}



.header{
    width: 100%;
    background-color: #343a40;
    display: flex;
    line-height: 40px;
}

.header h2{
    width: 100%;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

#menu{
    width: 100%;
    padding-left: 450px;
    font-size: 20px;
}
#menu li {
    display: inline-block;  
    padding: 10px;
}
#menu ul li a{
    color: gray;
}
#menu ul li a:hover{
    color: white;
}

.nav_menu h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-right: 30px;
}
.nav_menu{
    padding-left: 10px;
    padding-right: 20px;
}
.nav_menu ul li a {
    color: blue;
}
.nav_menu li {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #000000dd;
    list-style-type: none;
}

.clear{
    clear: both;
}

.section_content{
    margin: 15px 0px;
    padding-left: 210px;
}
.cart{
    margin-right: 20px;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cart_last{
    margin-right: 0px;
}
.cart_img{
    width: 20%;
    height: 100px;  
}
.content img{
    padding-left: 240px;
}
.cart_content{
    padding: 10px;
    min-height: 100px;
}

.cart_content h3{
    color: #128fdd;
    padding: 10px 0px;
    font-size: 25px;
}

.cart_content h4{
    font-size: 20px;
}
.cart_content p{
    padding: 10px 0px;
}

.icon{
    margin-top: 20px;
    line-height: 40px;
    padding: 0px 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
}
.icon i{
    padding-left: 5px;
}