*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
a:hover{
    color:#3498DB;
}

i{
    color: #3498DB;
}
h1{
    font-size: 40px;
    line-height: 45px;
}
h2{
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}
h3{
    font-size: 20px;
    line-height: 25px;
}
h4{
    font-size: 10px;
}

.container{
    width: 100%;
}

.header{
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h4{
    font-size: 30px;
    line-height: 50px;
    padding: 0px 50px;
}
.header li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    position: relative;
}
.header li ul {
    min-width: 200px;
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
    box-shadow: 2px 2px 8px 10px #ccc;
}
.header li:hover ul{
    display: block;
}
.header li ul li{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px 20px;
}
.header ul li a:hover{
    color:aqua;
}
.active{
    color: #3498DB;
}
.login{
    border: 1px solid #3498DB;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #3498DB;
    color: white;
}
.header li i{
    font-size: 18px;
}
.banner{
    display: flex;
    align-items: center;
    min-height: 300px;
}
.banner-text{
    width: 55%;
}
.banner-text h1{
    padding-left: 50px;
    font-size: 55px;
}
.banner-text h3{
    padding-left: 50px;
    font-size: 55px;
}
.banner-text p{
    padding-left: 50px;
    font-size: 30px;
}
.get-started{
    border: 2px solid #3498d8;
    border-radius: 20px;
    color: #3498d8;
    padding: 10px 30px;
    margin: 50px;
}

.main{
    margin-top: 20px;
    text-align: center;
}
.main p{
    padding-top: 20px;
    font-size: 20px;
}
.main h2{
    position: relative;
    display: inline-block;
}
.main h2::before{
    content: "";
    width: 50px;
    border: 2px solid #3498d8;
    position: absolute;
    left: -70px;
    top: 14px;
}
.main h2::after{
    content: "";
    width: 50px;
    border: 2px solid #3498d8;
    position: absolute;
    left: 170px;
    top: 14px;
}

.about_content{
    display: grid;
    grid-template-columns: 43% 55%;
    column-gap: 2%;
}
.about_content img{
    width: 98%;
    height: 300px;
}
.count{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 30px;
}
.box{
    display: grid;
    grid-template-columns: 10% 85%;
    column-gap: 5%;
    font-size: 18px;
}
.box i{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 3px;
}

.main-content2{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    margin-top: 50px;
}
.main-content2::before{
    width: 50px;
    content: "";
    border: 2px solid #3498d8;      
    position: absolute;
    left: 590px;
    top: 17px;
}
.main-content2::after{
    width: 50px;
    content: "";
    border: 2px solid #3498d8;
    position: absolute;
    top: 17px;
    left: 830px;
}
.main-content2 p {
    font-size: 20px;
}

.hai-anh{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    padding-left: 40px;
}

.anh1{
    padding: 30px 100px;
    background-color: white;
    box-shadow: 2px 2px 10px 1px #ccc;
    width: 90%;
    height: 200px;
    position: relative;
    border-radius: 5px;
}
.anh1 img {
    width: 100px;
    height: 100px;
    border: 4px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: -20px;
    opacity: 0.9;
}
.anh1 p{
    padding-top: 30px;
}

.anh1 h5{
    font-size: 15px;
}
.footer{
    margin-top: 30px;
    width: 100%;
    background-color: gray;
    display: flex;
    line-height: 50px;
}
.text2{
  padding-left: 1000px;
}
.text2 span{
    color: orange;
}
.text1{
    padding-left: 30px;
}
