.container-footer{
    background-color: gray;
    margin-top: 30px;
    padding: 0px 30px;
    font-weight: bold;
}
.container-footer{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}
.container-footer2{
    background-color: #373535;
    color: white;
    font-weight: bold;
}
.container-footer2 h3{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    padding-left: 10px;
}


.texttt{
    text-align: start;
    display: flex;
    padding: 0px 50px;
  
}
.texttt h4{
    padding: 0px 20px;
    font-weight: bold;
}
.main{
    color: black;
}
.click{
    color: black;
}
.click:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.click1:hover{
    color: pink;
    cursor: pointer;
    cursor: grab;
}
.color{
    color: rgb(83, 83, 83);
    font-weight: none;
}
.color:hover{
    color: rgb(0, 180, 0);
}
.container-footer2 i {
    color: white;
    font-size: 50px;   
    justify-content: center; 
    align-items: center;
}
.container-footer2 a{
    padding-right: 30px;
}
.container-footer2 i:hover{
    color: rgb(76, 0, 255);
}